<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.jwt.mapper.RoleMapper">
    <resultMap id="role" type="com.mei.jwt.entity.Role">
        <result property="id" column="id"/>
        <result property="role_name" column="name"/>
    </resultMap>


    <select id="selectRoleByUsername" resultMap="role">
        SELECT ru.id,r.name
        FROM role_user ru
        INNER JOIN users u on ru.uid = u.id
        INNER JOIN role r on ru.rid=r.id
        WHERE u.username = #{ username };
    </select>
</mapper>